.pj-movies-rating {
	float: right;
}
span.pj-movies-stars, span.pj-movies-stars span {
    display: block;
    background: url(images/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.pj-movies-stars span {
    background-position: 0 0;
}

.entry.movie .entry-title {
	font-size: 24px;
}
.entry.movie .byline {
	font-size: 16px;
}
.entry.movie .pj-movies-viewmore {
	font-size: 16px;
}
.entry.movie .entry-summary {
	margin-bottom: 1em;
	font-size: 18px;
}
